:root{
    --cor-background: #63B2C4;
    --cor-botao: #FFFFFF;
    --cor-de-fundo-botao: #;
    --cor-texto: #000000;
    --cor-botao: #2a5da8;
    --fonte-unica: 'Comic Relief';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-unica);
    color: var(--cor-texto);
    text-align: center;
}

